body {
  background-color: #e7e7e7;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  display: flex;
  color: black;
  font-family: Popping;
}
#circle-logo {
  width: 80px;
  height: 80px;
  background-color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#circle-logo:hover {
  cursor: pointer;
  opacity: 0.75;
}
#div-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#left-head img {
  height: 192px;
  width: 192px;
  border-radius: 180px;
  border-color: yellow;
}
.icon-head {
  gap: 20px;
}
#rigth-head h2 {
  font-size: 46px;
}
#rigth-head p {
  font-size: 22px;
}

#text-div {
  width: 640px;
  height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.text-class {
  margin: auto;
  width: 100px;
}

.text-class p {
  margin: 3px;
  font-size: 24px;
}
#button-div {
}
#button-left {
  width: 290px;
  height: 80px;
  background-color: #fbd144;
  border: none;
  font-size: 22px;
  border-radius: 8px;
  margin-right: 30px;
  background-color: #fbd144;
}
#button-rigth {
  width: 290px;
  height: 80px;
  background-color: white;
  border: none;
  font-size: 22px;
  border-radius: 8px;
}
#big-div {
  width: 760px;
  height: 110px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#big-div-left {
  width: 351px;
  height: 80px;
  background-color: #d7d7d7;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
#big-div-rigth {
  width: 351px;
  height: 80px;
  background-color: white;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#img-div-big {
  width: 750px;
  height: 820px;
  background-color: #e7e7e7;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.img-div {
  width: 360px;
  height: 220px;
  gap: 20px;
}
@media (max-width: 620px) {
  body {
    background-color: aquamarine;
    gap: 30px;
  }
  #circle-logo {
    width: 48px;
    height: 48px;
  }

  #circle-logo svg {
    width: 24px;
    height: 24px;
  }
  #rigth-head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #left-head img {
    width: 124px;
    height: 124px;
  }
  #rigth-head h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
  }
  .text-class p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }
}
